@font-face {
  font-family: "Futura bold";
  src: url(./futuraheavy.ttf);
}

@font-face {
  font-family: "Futura medium";
  src: url(./futuramedium.ttf);
}

@font-face {
  font-family: "Futura light";
  src: url(./futuralight.ttf);
}

@font-face {
  font-family: "Futura extrabold";
  src: url(./futuraxtrabold.ttf);
}
