.text {
  animation: slideup 1s var(--cubic-transition) forwards;
}

@keyframes slideup {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
