.text {
  position: relative;
  &__rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    transition-delay: 0.2s;
    transition: 0.5s;
  }
}

.slidedown {
  transform: translateY(100%);
}
