.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  &__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    width: 100%;
    gap: 20px;
  }
  &__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    &__icon {
      width: 80px;
      height: 80px;
    }
    &__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      max-width: 300px;
      width: 100%;
      height: 60px;
      margin: -10px 0 0 20px;
    }
    &__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 20px;
      &__exp {
        margin: 10px 0 0 0;
        font-family: var(--regular-secondary-ff);
        font-size: 15px;
      }
    }
    &__progress {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 10px;
      border-radius: 20px;
      background: var(--primary);
      width: 0;
      -webkit-transition: 1s var(--cubic-transition);
      -o-transition: 1s var(--cubic-transition);
      transition: 1s var(--cubic-transition);
    }
  }
}

.last {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
