.contact {
  &__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0 0 0;
    gap: 15px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: var(--long-transition) var(--cubic-transition);
    -o-transition: var(--long-transition) var(--cubic-transition);
    transition: var(--long-transition) var(--cubic-transition);
    -webkit-transition-delay: var(--basic-transition);
    -o-transition-delay: var(--basic-transition);
    transition-delay: var(--basic-transition);
    overflow: hidden;
    &__link {
      height: 50px;
      width: 50px;
    }
  }
}
