.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 30px 40px;
  z-index: 6;
  &__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--primary);
  }
  &__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 4px 15px 0 0;
    gap: 15px;
    &__icon {
      width: 100%;
      height: 100%;
    }
    &__link {
      width: 40px;
      height: 40px;
    }
  }
  &__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 30px;
    top: 4px;
    z-index: 4;
    &__upper,
    &__lower {
      position: absolute;
      content: "";
      left: 0;
      width: 30px;
      height: 2px;
      background: var(--primary);
      -webkit-transition: var(--basic-transition);
      -o-transition: var(--basic-transition);
      transition: var(--basic-transition);
    }
    &__upper {
      top: 7px;
    }
    &__lower {
      bottom: 12px;
    }
  }
  &__theme {
    width: 40px;
    height: 40px;
    margin: 4px 10px 0 0;
  }
}

.rotate {
  &upper {
    -webkit-transform: translate(0, 4px) rotate(45deg);
    -ms-transform: translate(0, 4px) rotate(45deg);
    transform: translate(0, 4px) rotate(45deg);
  }
  &lower {
    -webkit-transform: translate(0, -4px) rotate(-45deg);
    -ms-transform: translate(0, -4px) rotate(-45deg);
    transform: translate(0, -4px) rotate(-45deg);
  }
}
