.intro {
  &__circle {
    position: absolute;
    opacity: 0;
    right: -15vw;
    bottom: 18vh;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--primary);
    animation: circleAnim 1.2s ease forwards, start 2.5s 1s ease-in-out forwards,
      glow 2s 3.5s ease-in-out infinite alternate;
    transition: var(--long-transition);
  }
  &__text {
    font-size: 60px;
    position: absolute;
    z-index: 2;
    right: 0;
    opacity: 0;
    bottom: 45%;
    color: white;
    letter-spacing: 10px;
    font-family: var(--xtrabold-ff);
    transition: var(--medium-transition);
    animation: textAnim 1.2s ease forwards;
  }
}

@keyframes circleAnim {
  from {
    right: -15vw;
  }
  to {
    right: 20vw;
    opacity: 1;
  }
}

@keyframes textAnim {
  from {
    right: 0;
  }
  to {
    right: 25vw;
    opacity: 1;
  }
}

@keyframes start {
  from {
    box-shadow: 0 0 0 3px var(--primary);
  }
  to {
    box-shadow: var(--circle-shadow);
  }
}

@keyframes glow {
  from {
    box-shadow: var(--circle-shadow);
  }
  to {
    box-shadow: 0 0 20px var(--white-opacity-50), 0 0 30px var(--white-opacity-50), 0 0 40px var(--white-opacity-50),
      0 0 60px var(--white-opacity-50), 0 0 70px var(--white-opacity-50);
  }
}
