.cursor {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, transform 0.4s;
  transform: rotate(45deg);
  &__left {
    position: relative;
    width: 100%;
    height: 100%;
    &::before,
    &::after {
      position: absolute;
      content: "";
      background: var(--primary);
    }
    &::before {
      top: 0;
      left: 14px;
      height: 11px;
      width: 3px;
    }
    &::after {
      bottom: 0;
      left: 14px;
      height: 11px;
      width: 3px;
    }
  }
  &__right {
    position: relative;
    width: 100%;
    height: 100%;
    &::before,
    &::after {
      position: absolute;
      content: "";
      background: var(--primary);
    }
    &::before {
      top: -16px;
      left: 0;
      height: 3px;
      width: 11px;
    }
    &::after {
      top: -16px;
      right: 0;
      height: 3px;
      width: 11px;
    }
  }
}
